doctype html
html
  head
    title= 'Travel Blog'
    include ./includes/common_includes
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/js/main.js')
  body
    block content