//
   Created by Roger on 6/3/2015.

extends post_layout

block post_content
    include ./includes/header-navbar-section
    .container
        .article(id="article"+i)
            .post-image
                img(src="/images/background.png")
            .post-content
                .post-heading
                    h6
                        span Posted:&nbsp;
                        - var date = new Date(post.timestamp);
                        span#posted-time!= date.toDateString()
                        span  /
                        span#num-comments 3
                        span &nbsp;comm.
                    h5#title
                        a(href="#")!= post.title
                .post-entry
                    .content.more!= post.content
