doctype html
html
   head
      title= 'blog post'
      include ./includes/common_includes
      link(rel='stylesheet', href='/stylesheets/post.css')
      script(src='/js/post.js')
   body
      block post_content