//
   Created by Roger on 5/30/2015.
.social-network-above-navbar
    .social-network-inner
      .social-network-right-panel
        .social-network-icon.social-network-twitter(data-type="tooltip")
          a(href='https://www.linkedin.com/pub/ruogu-qin/30/555/5ba' target="_blank")
            span
              i.fa.fa-linkedin
        .social-network-icon.social-network-twitter(data-type="tooltip")
          a
            span
              i.fa.fa-twitter
        .social-network-icon.social-network-facebook(data-type="tooltip")
          a
            span
              i.fa.fa-facebook
        .social-network-icon.social-network-email(data-type="tooltip")
          a
            span
              i.fa.fa-envelope-o
#navigation.header
    nav.navbar.navbar-default.navbar-fixed-top
      .navbar-wrapper  
        .container
            .navbar-header
              button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="#") Ruogu Qin
            #navigation-items.navbar-collapse.collapse
               ul.nav.navbar-nav
                  li
                    a#nav-home(href="#totop") Home
                  li
                    a#nav-highlight(href="#highlight-section") Highlight
                  li
                    a#nav-about-me(href="#about-me") About
                  li
                    a#nav-photography(href="#") Photography
                  li
                    a#nav-blog(href="/blog/page/1") Blog
