
<div class="social-network-above-navbar">
  <div class="social-network-inner">
    <div class="social-network-right-panel">
      <div data-type="tooltip" class="social-network-icon social-network-twitter"><a><span><i class="fa fa-twitter"></i></span></a></div>
      <div data-type="tooltip" class="social-network-icon social-network-facebook"><a><span><i class="fa fa-facebook"></i></span></a></div>
      <div data-type="tooltip" class="social-network-icon social-network-email"><a><span><i class="fa fa-envelope-o"></i></span></a></div>
    </div>
  </div>
</div>
<div id="navigation" class="header">
  <nav role="banner" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">RogerQin</a>
        </div>
        <div id="navigation-items" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a id="nav-home" href="#top">Home</a></li>
            <li><a id="nav-highlight" href="#highlight-section">Highlight</a></li>
            <li><a id="nav-about-me" href="#about-me">About</a></li>
            <li><a id="nav-photography" href="#">Photography</a></li>
            <li><a id="nav-blog" href="/blog">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>