//
   Created by Roger on 5/29/2015.

doctype html
html(ng-app="blogApp")
   head
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= 'Blog'
    include ../includes/common_includes
    link(rel='stylesheet', href='/stylesheets/blog.css')
    link(rel='stylesheet', href='/stylesheets/simplePagination.css')
    script(src='/js/jquery.simplePagination.js')
    script(src='/js/blog/blog.main.js')
  body
    block blog_content
