//
   Created by Roger on 5/29/2015.

doctype html
html
   head
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= 'Blog'
    include ../includes/common_includes
    link(rel='stylesheet', href='/build/stylesheets/blog.css')
    link(rel='stylesheet', href='/build/stylesheets/simplePagination.css')
    script(data-main='/build/js/blog' async="" src="/build/js/lib/require.js")
  body
    block blog_content
