//
   Created by Roger on 5/29/2015.

doctype html
html
   head
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= 'Blog'
    include ../includes/common_includes
    link(rel='stylesheet', href='/build/stylesheets/blog.css')
    link(rel='stylesheet', href='/build/stylesheets/simplePagination.css')
    script(type="text/babel" src="/build/js/app/blog/blog_entries.js")
    script(async="" src="/build/js/blog/blog-bundle.js")
  body(ng-app="blogApp")
    block blog_content
