//
   Created by Roger on 5/29/2015.

doctype html
html
   head
    title= "Ruogu Qin Blog"
    meta(name='viewport' content="width=device-width, initial-scale=1")
    meta(name='description' content="This page shows all my blog entries.")
    include ../includes/common_includes
    link(rel='stylesheet', href='/build/stylesheets/blog.css')
    link(rel='stylesheet', href='/build/stylesheets/simplePagination.css')
    script(async defer src="/build/js/blog/blog-bundle.js")
  body(ng-app="blogApp")
    block blog_content
