doctype html
html
  head
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= 'Travel Blog'
    include ../includes/common_includes
    link(rel='stylesheet', href='/build/stylesheets/main.css')
    script(src='/build/js/index/index-bundle.js' async)
  body(ng-app="mainApp")
    block content
