doctype html
html
   head
      title= 'Ruogu Qin Blog Photography'
      meta(name='discription' content='This page is dedicated to show some of my works.')
      include ../includes/common_includes
      link(rel='stylesheet', href='/build/stylesheets/photography.css')
      link(rel="stylesheet" href="/build/stylesheets/default-skin/default-skin.css")
      script(src="/build/js/photography/photography-bundle.js")
      
   body
      block photography_content
