doctype html
html
   head
      title= 'photography'
      include ../includes/common_includes
      link(rel='stylesheet', href='/build/stylesheets/photography.css')
      script(data-main='/build/js/photography' async="" src="/build/js/lib/require.js")
      
   body
      block photography_content
