doctype html
html
   head
      title= 'photography'
      include ../includes/common_includes
      link(rel='stylesheet', href='/build/stylesheets/photography.css')
      script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"
      script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"
      script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"
      script(data-main='/build/js/photography' async="" src="/build/js/lib/require.js")
      
   body
      block photography_content
