doctype html
html
   head
      title= 'photography'
      include ../includes/common_includes
      link(rel='stylesheet', href='/build/stylesheets/photography.css')
      link(rel="stylesheet" href="/build/stylesheets/default-skin/default-skin.css")
      script(src="/build/js/photography/photography-bundle.js")
      
   body
      block photography_content
