doctype html
html
   head
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= post.title
    include ../includes/common_includes
    link(rel='stylesheet', href='/build/stylesheets/post.css')
    link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/agate.min.css")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js")
    script(async="" src="/build/js/post/post-bundle.js")
    script(type='text/javascript').
      var switchTo5x=true;
    script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
    script(type='text/javascript').
      stLight.options({publisher: "b1dd6a19-77b3-4549-8f82-a2af0a199824", doNotHash: false, doNotCopy: false, hashAddressBar: false});

  body
    block post_content
