doctype html
html
   head
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= post.title
    include ../includes/common_includes
    link(rel='stylesheet', href='/build/stylesheets/post.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css')
    script(data-main="/build/js/post" async="" src="/js/lib/require.js")
  body
    block post_content
