body,
html {
  width: 100%;
  height: 100%;
  font: 400 14px/1.8 "Lato", sans-serif;
  color: #777777;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
a {
  color: black;
  -webkit-transition: color 0.3s ease;
}
a:hover {
  color: #777777;
  text-decoration: none;
}
a.anchor {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}
svg {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}
#post-body {
  padding-top: 100px;
}
#post-body .article {
  margin: 0 0 0px 45px;
}
#post-body .article .post-image img {
  width: 100%;
}
#post-body .article .post-heading {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#post-body .article .post-heading h6 {
  font-size: 10px;
  margin: 0px 0 5px;
}
#post-body .article .post-heading button {
  margin-top: 20px;
}
