doctype html
html
  head
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= 'Travel Blog'
    include ./includes/common_includes
    script(src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js')
    script(src='/build/js/header-scroll.min.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/build/js/main.min.js')
  body
    block content
