extends ./layouts/photography_layout

block photography_content
  body
    .loader-wrapper
      .loader
    include ./includes/header-navbar-section.jade
    .container.image-outer-container
      .image-container
        img(src='/build/images/Grand_canyon_Bryce_Zion_220.jpg')
    .top-text-container
      h2 Underconstruction
