@import "constants.scss";

.top-text-container {

  h2 {
    margin:auto;
    text-align: center;
  }
}

#imageDisplay{
  padding-top:100px;
}

.image-outer-container {
  padding-top:200px;
}

.image-container{
  width: 100%;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

img{
  max-width: 100%;
  position: relative;
  opacity: 1;
  vertical-align:middle;
  &:hover{
    opacity: 0.7;
  }

  &:hover + .img-text-overlay-hidden{
      visibility:visible;
  }
}
// .img-text-overlay-hidden{
//   visibility:hidden;
//   //color:black;
//   font-size:28px;
//    left: 0;
//     position:absolute;
//    text-align:center;
//     text-align:center;
//     top: 170px;
//     width: 100%;
//     pointer-events:none;
// }
